<div class="site-categories">

    <a href="{{ 'category/customer-stories' | relative_url }}">Customer Stories</a>
    <a href="{{ 'category/memsource-blog' | relative_url }}">Memsource Blog</a>
    <a href="{{ 'category/featured-articles' | relative_url }}">Featured Articles</a>
    <a href="{{ 'category/new-features' | relative_url }}">New Features</a>
    <a href="{{ 'category/freelance-translators' | relative_url }}">Freelance Translators</a>
    <a href="{{ 'category/academic-program' | relative_url }}">Academic Program</a>
    <a href="{{ 'category/certified-trainers' | relative_url }}">Certified Trainers</a>
    <a href="{{ 'category/events' | relative_url }}">Events</a>

</div>